.sidebar {
  position: fixed;
  height: 100%;
  z-index: 1
}

#app-view {
  margin-left: 200px
}

#app > div > div.sidebar > div > ul.main {
  align-self: flex-start!important;
  height: 100%;
}

#app > div > div.sidebar > div > ul > li.nav-item.btn.quit {
  margin-top: auto;
}